body { padding-top: 70px; }
nav {
        font-family: 'Poppins', serif;
        font-size: 20px;
      }
#ABOUT{
    padding-top: 80px;
}
h2{
    font-family: 'Poppins', serif;
    text-align: center;
    
}

#inf{
        padding: 15px;
}

h3{
    font-family: 'Poppins', serif;
    font-size: 30px;
        padding: 15px;
}

#thumb1{
    border-radius: 50%;
    width: 200px;
    height: auto;
   
}

hr{
    border-color: darkgrey; 
}
h1{
    text-align: center;
}
#thumb1{
    
}
#thumb2{
    
}
#thumb3{
    
}
#thumb3{
    
}

#portfolio11{

    padding-top: 50px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
}
#social1{
    text-align: center;
}
#social2{
    text-align: center;
}


.fa {
    padding: 20px;
    
    font-size: 50px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.jumbotron{
background: black;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
